.App {
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: top;
    height: 100vh;
}

.party{
    margin: 1 10px;
    height: 99%;
    width: 200px;
    border: 3px solid black;
}

.recruits {
    margin: 1 10px;
    height: 99%;
    width: 200px;
    border: 3px solid black;
}

.viewer {
    height: 99%;
    padding: 50px;
}

.characterViewer {
    display: flex;
    flex-direction: column;

}

.info {
    margin: 15px;
    
}

.backstory {
    width: 600px;
    height: 100px;
    font-size: 14px;
}

.viewerButtons {
    margin: 25px;
}

.viewButton {
    margin: 10px;
}

.newRecruits {
    margin: 15px;
}